body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Light gray background */
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #fff; /* White container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #48b4f7; /* Blue button color */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e90ff; /* Darker blue on hover */
}

/* Change background color of entire page */
body {
    background-color: #f9f9f9; /* Light gray background */
}
